body{
    margin: 0 auto;
    background:cornsilk
}

h1{
    text-align: center;
    color: cornflowerblue;
}

hr{
    margin-top:10% ;
}

nav{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

a{
    text-decoration: none;
    font-size: 140%;
    color: cornflowerblue;
}

.esp{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    width: 100%;
    height: 100%;
}

.tailleimg{
    width: 200px;
}

#pos{
    position: absolute;
    left: 0%;
    top: 0%;
}

.logot{
    text-align: center;
}

.taillelogo{
    padding-left: 1%;
    padding-top: 1%;
    width: 5%;
    height: 5%;
}